<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Tea store</title>
    <link rel="stylesheet" href="../style/styles.css">
</head>
<body>
    <div class="center">
        <h1>Вход</h1>
        <form method="post">
            <div class="txt_field">
                <input type="text" required>
                <span></span>
                <label>Имя пользователя</label>
            </div>
            <div class="txt_field">
                <input type="password" required>
                <span></span>
                <label>Пароль</label>
            </div>
            <div class="pass">Забыли пароль?</div>
                <input type="submit" value="Войти">
            <div class="signup_link">
                <span>Еще не с нами?</span>
                <a href="#">Регистрация</a>
            </div>
        </form>
    </div>
    </div>
</html>